.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.centered-pointer{
   cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    color: #3658B3;
}