.LogoutBtn {
	outline: none;
	color: #fff;
	background-color: #42a1f4;
	border: none;
	margin: 20px;
}
.LogoutBtn:hover {
	background-color: #0e542c;
}
.LogoutBtn:active {
	background-color: #0e542c;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.UserContainer{
  text-decoration: none;
  color: black;
}
.UserContainer:hover{
  color:white;
}